body {
  background-color: bisque;
}
* {
  margin: 0;
}
header {
  font-size: 40px;
  text-align: center;
  height: 70px;
  padding: 0;
  margin: 0;
  background-color: brown;
  color: red;
}

li {
  list-style-type: disc;
  padding: 30px;
}

aside {
  float: left;
  background-color: aqua;
  width: 15%;
  height: 850px;
}
main {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
div {
  padding: 20px;
}

.animation {
  animation-name: aga;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes aga {
  from {
    color: red;
  }
  to {
    color: brown;
  }
}
